.aside-menu {
	flex-shrink: 0;

	&__list {
		background: $panel-bg;
		padding: 20px 35px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:last-child a {
			border-bottom: none;
		}

		a {
			display: block;
			width: 100%;
			padding: 15px 0;
			text-transform: uppercase;
			border-bottom: 1px solid $btn-bg;
			vertical-align: middle;
			transition: all .3s ease-in;

			&:hover {
				color: rgba(255,255,255,0.5);
			}
		}

		&--active {
			a {
				color: $secondary-color;

				&:hover {
					color: $secondary-color;
				}
			}
		}
	}
}
