<footer class="page-footer">
	<div class="container">
		<div class="socials">
			<p class="socials__title">Свяжитесь с нами</p>
			<a href="https://vk.com/id6101058" class="socials__link"><span class="fa fa-vk"></span></a>
			<a href="https://twitter.com/RussianHitech" class="socials__link"><span class="fa fa-twitter"></span></a>
			<a href="https://plus.google.com/u/0/108059505551017562810" class="socials__link"><span class="fa fa-google-plus"></span></a>
		</div>
		<div class="copyright">
			<p class="copyright__text">
				Copyright 2017 &copy;. All rights reserved.
			</p>
		</div>
	</div>
</footer>