<header class="page-header">
	<div class="container">
		<div class="page-logo">
			<a href="#"><img src="img/page-logo.jpg" alt="Fast Future PC"></a>
		</div>
		<nav class="main-menu">
			<ul class="main-menu__list">
				<li class="main-menu__item"><a href="index.html" class="main-menu__link">Главная</a></li>
				<li class="main-menu__item"><a href="configurator.html" class="main-menu__link">Конфигуратор</a></li>
				<li class="main-menu__item"><a href="ready-pc.html" class="main-menu__link">Готовые ПК</a></li>
			</ul>
		</nav>
		<a href="#" class="basket-link"><span class="fa fa-shopping-cart"></span>&nbsp;Корзина</a>
	</div>
</header>